@model UsuarioModel

<h2>Cadastro de Usuários</h2>
<hr>
<form method="post">
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Usuario" asp-for="@Model.Nome">
        <label asp-for="@Model.Nome"></label><br>
        <span class="text-danger" asp-validation-for="@Model.Nome"></span>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Email" asp-for="@Model.Email">
        <label asp-for="@Model.Email"></label><br>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>
    <div class="form-floating mb-1">
        <input class="form-control" asp-for="@Model.Senha" placeholder="123456">
        <label asp-for="@Model.Senha"></label>
        <span class="small text-danger ps-2" asp-validation-for="@Model.Senha"></span>
    </div>
    <div class="form-floating mb-1">
        <input class="form-control" asp-for="@Model.ConfSenha" placeholder="123456">
        <label asp-for="@Model.ConfSenha"></label>
        <span class="small text-danger ps-2" asp-validation-for="@Model.ConfSenha"></span>
    </div>
    <div>
        <p>Usuário Administrador</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="adm" asp-for="@Model.IsAdmin" value="True">
            <label class="form-check-label" for="">Sim</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="adm" asp-for="@Model.IsAdmin" value="False">
            <label class="form-check-label" for="">Não</label>
        </div>
    </div><br>
    <p>
        <a asp-action="Index" class="btn btn-secondary mb-5">Cancelar</a>
        <input type="submit" value="Salvar" class="btn btn-primary mb-5">
    </p>
</form>