@model IEnumerable<UsuarioModel>

<link rel="stylesheet" href="~/css/tabelas.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<h1>Listagem de Usuarios</h1>
<hr>
<a asp-action="Cadastrar" class="btn btn-primary">
    <i class="bi bi-plus"></i>
    Novo Usuario
</a>
<hr>
@if (Model.Count() > 0)
{
    <table class="table table-sm table-striped table-hover table-usuarios">
        <thead class="bg-dark bg-opacity-75 bg-gradient text-white">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Administrador</th>
                <th class="text-end pe-5">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdUsuario.ToString("D2")</td>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>@(item.IsAdmin ? "Sim" : "Não")</td>
                    <td class="text-end">
                        <a class="btn btn-secondary btn-sm" asp-action="Alterar" asp-route-id="@item.IdUsuario" title="Alterar">
                            Alterar
                        </a>

                        <a class="btn btn-danger btn-sm" asp-controller="Usuario" asp-action="Excluir"
                    asp-route-id="@item.IdUsuario" title="Excluir">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Não há usuários cadastrados.</h3>
}