@model ProdutoModel

<h2>Cadastro de Produto</h2>
<hr>
<form method="post">
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Categoria" asp-for="@Model.Nome">
        <label asp-for="@Model.Nome"></label><br>
        <span class="text-danger" asp-validation-for="@Model.Nome"></span>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Categoria" asp-for="@Model.Estoque">
        <label asp-for="@Model.Estoque"></label><br>
        <span class="text-danger" asp-validation-for="@Model.Estoque"></span>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Categoria" asp-for="@Model.Preco">
        <label asp-for="@Model.Preco"></label><br>
        <span class="text-danger" asp-validation-for="@Model.Preco"></span>
    </div>

    <div class="form-floating mb-4">
        <select asp-for="@Model.IdCategoria" asp-items="@ViewBag.Categorias" class="form-select">
            <option value="">Selecione a categoria...</option>
        </select>
        <label asp-for="@Model.IdCategoria"></label>
        <span class="text-danger" asp-validation-for="@Model.IdCategoria"></span>
    </div>

    <p>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

        <input type="submit" value="Salvar" class="btn btn-primary">
    </p>
</form>